body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    width: 260px;
    height: 420px;
    margin-left: 40%;
    margin-top: 8%;
}
@media (max-width: 600px){
    main{
        margin-left: 15%;
    }
}
img{
    border-radius: 4%;
    width: 240px;
    margin: 10px;
}
.first{
    padding-left: 20px;
    text-align: center;
    width: 220px;
    font-weight: 900;
    color: hsl(218, 44%, 22%);
}
p:last-child{
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    padding-left: 30px;
    width: 200px;
}
